<!DOCTYPE html>
<html lang="ru">
<head><title>Соревнования на Кубок Аэробии | Таблица</title>
<meta charset="utf-8">
<meta property="og:title" content="Соревнования на Кубок Аэробии | Таблица" />
<meta property="og:url" content="//aerobia.net/" />
<meta property="og:image" content="./assets/logo_og.gif" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/main.css" rel="stylesheet" /></head>
<body><section class="logo-panel">
<div class="logo-panel__content">
<a href="/" class="logo__link">
<img src="./assets/logo.png" alt="Логотип Aerobia" title="На главную сайта aerobia.net" class="logo__img">
</a>
</div>
<section><section class="nav-panel">
<div class="nav-panel__content">
<h1 class="site-title">Кубок Аэробии</h1>
<nav class="nav">
<ul class="menu">
<li><a href="index.html" class="menu__link menu__table">Таблица</a></li>
<li><a href="teams<%=week%>.html" class="menu__link menu__team">Команды</a></li>
<li><a href="users.html" class="menu__link menu__users">Участники</a></li>
<li><a href="statistics<%=week%>.html" class="menu__link menu__statistics">Статистика</a></li>
<li><a href="rules.html" class="menu__link menu__rules menu__link_active menu__rules_active">Правила</a></li>
</ul>
</nav>
</div>
</section><main class="main">
<div class="main__content">
<aside class="sidebar"><section class="clubs">
<h3 class="clubs__title">
<a class="clubs__title-link" href="http://aerobia.ru/my/clubs">Клубы</a>
</h3>
<ul class="clubs__list">
<li class="clubs__item">
<a href="http://aerobia.ru/clubs/413">
<img src="assets/413_cup3_thumbnail.jpg" class="clubs__item-avatar"/>
</a>
<a href="http://aerobia.ru/clubs/413" class="clubs__item-link">Кубок Аэробии</a>
</li>
<li class="clubs__item">
<a href="http://aerobia.ru/clubs/153">
<img src="assets/153_Boston-Running-Routes_thumbnail.jpg" class="clubs__item-avatar"/>
</a>
<a href="http://aerobia.ru/clubs/153" class="clubs__item-link">Все о беге</a>
</li>
<li class="clubs__item">
<a href="http://aerobia.ru/clubs/190">
<img src="assets/190_aerobia_thumbnail.jpg" class="clubs__item-avatar"/>
</a>
<a href="http://aerobia.ru/clubs/190" class="clubs__item-link">Аэробия</a>
</li>
</ul>
</section></aside>
<section class="page"><section class="rules">
<h1>Правила командного чемпионата Аэробии «2018 в 2018»</h1>
<h3>Зачем?</h3>
<p>Смысл затеи в том, чтобы придать дополнительный смысл каждой пробежке, подтолкнуть каждого участника к регулярным занятиям и, конечно, послужить поводом для трепа и зубоскальства.</p>
<h3>Что?</h3>
<p>Соревнования проводятся среди команд, состоящих из участников Аэробии. Цель соревнования проста — каждую неделю пробегать как можно больше километров.</p>
<h3>Когда?</h3>
<p>Соревнования начинаются 1 января 2018 года, благо этот день приходится как раз на понедельник. Последний день соревнований — 30 декабря 2018.</p>
<h3>Где?</h3>
<p>Бегать можно где угодно, но обязательно выкладывать свои тренировки в открытый доступ на Аэробии. Наличие GPS-трека не обязательно.</p>
<h3>Кто?</h3>
<p>В соревнованиях могут участвовать все спортсмены, зарегистрированные на Аэробии. Для регистрации нужно <a href="https://docs.google.com/forms/d/1IoEokJsXGLpNWJqA-m3tAJdqRTOaYjo-2RVb5AfuSvM" target="_blank">на этой странице</a> ввести свои данные: номер пользователя, имя пользователя и количество километров, которые вы планируете пробежать в 2018 году. Номер пользователя можно определить на странице со своим профилем, посмотрев номер в строке адреса: http://aerobia.ru/users/ваш-номер.</p>
<p>Регистрация начинается 4 декабря и заканчивается 24 декабря. После этого команды формируются таким образом, чтобы сумма планов участников была примерно одинаковой для всех команд. Количество команд будет зависеть от того, сколько наберется участников.</p>
<h3>Как?</h3>
<p>Для каждого участника рассчитывается недельная цель, для чего его запланированное количество километров в год делится на 52 недели. После этого каждую неделю его недельный километраж сравнивается с целью. Затем для каждой команды вычисляется среднее арифметическое: проценты выполнения планов всех участников команды складываются и делятся на количество участников. Каждая команда получает N∗5-M∗5 очков, где N — общее количество команд, а M — место команды на этой неделе. Победителем соревнований будет признана команда, набравшая на конец года наибольшее количество очков.Результаты подводятся в среду, чтобы все успели вернуться домой с соревнований и выложить свои воскресные треки. Места команд распределяются в соответствии с полученным результатом. Таким образом, задача каждого участника — максимально перевыполнить свой недельный план, при этом ценность всех участников команды одинакова, независимо от их планов. Километры, набеганные сверх индивидуального плана, засчитываются как один километр за пять действительно набеганных, то есть, с коэффициентом 0.2. Это должно мотивировать к указанию реального планового пробега, уравнять шансы случайно собранных команд – в итоге победит та, большинство участников которой выполнят план и устранить проблему неравномерного километража по месяцам.</p>
<p>Участник, который по уважительной причине не может бегать (травма, болезнь, свадьба), может взять больничный. В этом случае он временно исключается из команды, и план команды уменьшается на план этого участника. Но если больше половины команды одновременно находятся на больничном, то команда получает за эту неделю ноль очков.</p>
<p>В зачет идут все беговые виды спорта, имеющиеся на Аэробии: бег, спортивное ориентирование и даже беговая дорожка.</p>
<h3>Сколько?</h3>
<p>Конечно, команде выгоднее, если ее участники напишут план поменьше, а пробегут побольше. Но!</p>
<p>Во-первых, как мы договорились в прошлом году, не за корову бегаем. Простой спортивный дух честной игры требует, чтобы план указывали не поменьше и не побольше, а тот самый, который каждый для себя прикинул на этот год.</p>
<p>Во-вторых, хотя все участники равны, тех, у кого цель особенно большая («я человек с крупными запросами, я зеркальным шкафом интересуюсь»), мы все-таки уважаем чуть-чуть больше.</p>
<p>И в третьих — не надо недооценивать бдительность наших сограждан по Аэробии. Если им покажется, что кто-то слишком легко перевыполняет план, придется оправдываться :)</p>
<p>Поэтому в качестве правила большого пальца лучше ориентироваться на прошлогодние объемы и слегка их увеличить или уменьшить в зависимости от своих тренировочных и соревновательных планов.</p>
<h3>А еще?</h3>
<p>В конце года пройдут соревнования на Кубок Аэробии. Лучшие команды регулярного чемпионата будут соревноваться по кубковой системе. Каждый тур состоит из трех недель. Команды, победившие хотя бы два раза из трех, проходят в следующий тур. Победитель финала становится обладателем Кубка.</p>
</section></section>
</div>
</main><section class="description">
<div class="description__content">
<h3 class="description__title">Аэробия</h3>
<p class="description__text">Аэробия &mdash; это спортивный трекер позволяющий отслеживать и анализировать результаты ваших тренировок и делиться ими с друзьями. Лучший инструмент для бега, велоспорта, ходьбы, беговых лыж и любой другой физической активности.
</p>
<div class="description__links">
<a href="http://aerobia.ru/investor">Информация инвесторам</a>
<a href="http://aerobia.ru/wall">Доска почета</a>
</div>
<div class="download">
<div class="download__title">Скачать<br> Аэробия для</div>
<div class="download__mobile">
<a href="https://itunes.apple.com/ru/app/aerobia/id566375588?ls=1&amp;mt=8" class="mobile__iphone">iPhone</a> или <a href="https://play.google.com/store/apps/details?id=lv.scada.aerobia" class="mobile__android">Android</a>
</div>
</div>
</section><section class="footbar">
<div class="footbar__content">
<ul class="contacts">
<li class="contact contact__email">
<a href="mailto:info@aerobia.ru" class="contact__link" target="_blank">info@aerobia.ru</a>
</li>
<li class="contact">
<a href="http://www.facebook.com/Aerobia" class="contact__link" target="_blank">Facebook</a>
</li>
<li class="contact">
<a href="http://vk.com/aerobia" class="contact__link" target="_blank">Вконтакте</a>
</li>
<li class="contact">
<a href="https://twitter.com/Aerobiaru" class="contact__link" target="_blank">Twitter</a>
</li>
</ul>
</div>
</section></body>
</html>